<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body  ng-app="myApp" >

<div ng-controller="personCtrl">

First Number: <input type="text" ng-model="firstNumber"><br>
Second Number: <input type="text" ng-model="secondNumber"><br>
<br>
Sum of first and second: {{total}}
<button ng-click="justclick()">add</button>	

<script>
var app = angular.module('myApp', []);
app.controller('personCtrl', function($scope,arthServices) {
    $scope.firstNumber = 10;
    $scope.secondNumber = 20;
		
		$scope.justclick = function() {		
				arthServices.add($scope.firstNumber,$scope.secondNumber,function(r){
					$scope.total=r;
				});
    };
});
app.service('arthServices', function() {
    
		
		this.add=function(a,b,cb){
			var s=parseInt(a)+parseInt(b);
			cb(s);
		};
});

</script>

</body>
</html>
